@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/reseter.css");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;

300;400;500;600;700;800&display=block");

::-moz-selection {
  background: #790f99;
  opacity: 1;
  color: #fff;
}

::selection {
  background: #790f99;
  opacity: 1;
  color: #fff;
}

/**  Стили выделения - конец */

/**  Кастомный сброс стилей - начало */

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

input,
select,
label,
button,
textarea {
  display: block;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: 1.1;
  padding: 10px 20px;
  color: inherit;
  outline: none;
  border: none;
}

input::-moz-placeholder, select::-moz-placeholder, label::-moz-placeholder, button::-moz-placeholder, textarea::-moz-placeholder {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  color: #c4c4c4;
}

input:-ms-input-placeholder, select:-ms-input-placeholder, label:-ms-input-placeholder, button:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  color: #c4c4c4;
}

input::placeholder,
select::placeholder,
label::placeholder,
button::placeholder,
textarea::placeholder {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  color: #c4c4c4;
}

input:focus {
  outline: 1px solid #808080;
}

input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: none;
}

/**  Кастомный сброс стилей - конец */

/**  Стили флексов - Старт */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex--fdc {
  flex-direction: column;
}

.flex--fdr {
  flex-direction: row;
}

.flex--aic {
  align-items: center;
}

.flex--ais {
  align-items: flex-start;
}

.flex--aie {
  align-items: flex-end;
}

.flex--aistr {
  align-items: stretch;
}

.flex--jcc {
  justify-content: center;
}

.flex--jcs {
  justify-content: flex-start;
}

.flex--jce {
  justify-content: flex-end;
}

.flex--jcsb {
  justify-content: space-between;
}

.flex--jcsa {
  justify-content: space-around;
}

.flex--jcse {
  justify-content: space-evenly;
}

.flex--fww {
  flex-wrap: wrap;
}

.flex--fwn {
  flex-wrap: nowrap;
}

/**  Стили флексов - конец */

html,
body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100%;
  max-height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
}

.no-webp html{
  background: #004850 url("../img/body.jpg") no-repeat center center/cover; }

html {
  background-attachment: fixed;
}

body {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
  min-height: 100vh;
  flex: 1;
}

.wrap {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* preloader */

.Preloader > * {
  opacity: 0;
  visibility: hidden;
  transition: all ease 1s;
}

.Preloader__logotype {
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 1s;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
  visibility: visible;
}

.Preloader--loaded .Preloader__logotype {
  opacity: 0;
  width: 140px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

.Preloader--loaded > * {
  opacity: 1;
  visibility: visible;
  transition-duration: 1s;
}

/* preloader */

.Head {
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  margin-bottom: 5px;
}

.Head__wrap {
  padding: 0px 15px;
}

.Head__logotype {
  width: 200px;
}

.Head__socs {
  margin-left: auto;
  margin-right: 25px;
}

.Head__phone {
  display: none;
  margin-right: 0px;
}

.Head__phone a {
  color: #fff;
  transition: all ease 0.5s;
  font-size: 30px;
  font-weight: 400;
}

.Head__phone a:hover {
  color: #004850;
}

.Logotype {
  font-size: 0px;
  color: rgba(121, 15, 153, 0);
}

.Logotype span {
  display: none;
}

.Logotype__icon {
  display: block;
  width: 50%;
}

.Logotype__text {
  display: block;
  width: 50%;
}

.HeadSocs {
  gap: 10px;
}

.HeadSocs__link {
  display: block;
  transition: all ease 0.2s;
}

.HeadSocs__link:hover {
  transform: rotate(15deg);
}

.HeadSocs__link span {
  display: none;
}

.HeadSocs__icon {
  width: 32px;
  fill: #fff;
  transition: all ease 0.2s;
}

.HeadSocs__icon:hover {
  fill: #004850;
}

.Game {
  flex: 1;
  width: 100%;
}

.Game__onlyMobile {
  display: none;
}

.Game.onlyMobile .Game__onlyMobile {
  margin: auto;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 25px;
}

.Game.onlyMobile .Game__onlyMobile h2 {
  font-size: 34px;
  font-weight: 400;
}

.Game__timer {
  width: 100%;
  height: 50px;
  background: #004850;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  transition: all ease 0.3s;
  overflow: hidden;
}

.Game__timer.hide {
  height: 0px;
}

.Game__bttns {
  width: 100%;
  height: 50px;
  background: rgba(121, 15, 153, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  gap: 2px;
  transition: all ease 0.3s;
  overflow: hidden;
}

.Game__bttns.hide {
  height: 0px;
}

.Game__bttn {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#004850, rgba(0, 72, 80, 0.1));
  box-shadow: 0px 0px 5px 3px rgba(17, 17, 17, 0.15);
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 5px;
  text-align: center;
  font-weight: 300;
}

.Game__bttn.hide {
  display: none;
}

.Game__bttn--save {
  line-height: 1.3;
  width: 100%;
  background: linear-gradient(#790f99, rgba(121, 15, 153, 0.1));
}

.Game__start {
  width: 100%;
  flex: 1;
  overflow: auto;
  padding: 0px 15px;
  line-height: 1.5;
}

.Game__start h1 {
  border-left: 5px solid #790f99;
  margin-bottom: 0;
  font-size: clamp(24px, 10vw, 40px);
  line-height: 1;
  padding: 4px 0px;
  padding-left: 15px;
  margin-top: 10px;
}

.Game__start h2 {
  padding: 4px 0px;
  border-left: 5px solid #004850;
  padding-left: 15px;
  font-weight: 300;
  font-size: 24px;
  font-size: clamp(16px, 6vw, 24px);
  line-height: 1;
}

.Game__start.hide {
  padding: 0;
  flex: 0;
  height: 0px;
  display: none;
}

.Game__end {
  width: 100%;
  flex: 1;
  overflow: auto;
  padding: 15px;
  line-height: 1.4;
}

.Game__end p {
  display: block;
  font-size: 18px;
}

.Game__end b {
  display: block;
  font-size: 2rem;
}

.Game__end span {
  text-align: left;
  display: block;
}

.Game__end.hide {
  padding: 0;
  flex: 0;
  height: 0px;
  display: none;
}

.Game__end form {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.Game__end form input {
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #ffffff;
  outline: none;
}

.Game__field {
  width: 100%;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.Game__field.hide {
  flex: 0;
  height: 0px !important;
  display: none;
}

.Game__item {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
  background: no-repeat center/contain;
  background-color: unset !important;
  font-size: 0px;
  opacity: 1;
  transition: all ease-out 1s;
}

.Game__item.small {
  width: 40px;
  height: 40px;
  position: static;
}

.Game__item.new {
  opacity: 0;
}

.Game__item.old {
  transition: all linear 1s !important;
}

.Game__item.clicked {
  transition: all linear 0.3s;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translate(-50%, -50%) rotate(-90deg) scale(0) !important;
}

.no-webp .Game__item--cocktail{
  background-image: url("../img/items/cocktail.png"); }

.no-webp .Game__item--shot{
  background-image: url("../img/items/shot.png"); }

.no-webp .Game__item--nybear--1{
  background-image: url("../img/items/nybear-1.png"); }

.no-webp .Game__item--nybear--2{
  background-image: url("../img/items/nybear-2.png"); }

.no-webp .Game__item--nybear--3{
  background-image: url("../img/items/nybear-3.png"); }

.no-webp .Game__item--balls--1{
  background-image: url("../img/items/balls-1.png"); }

.no-webp .Game__item--balls--2{
  background-image: url("../img/items/balls-2.png"); }

.no-webp .Game__item--balls--3{
  background-image: url("../img/items/balls-3.png"); }

.no-webp .Game__item--balls--4{
  background-image: url("../img/items/balls-4.png"); }

.no-webp .Game__item--tree{
  background-image: url("../img/items/tree.png"); }

.no-webp .Game__item--pizza--1{
  background-image: url("../img/items/pizza-1.png"); }

.no-webp .Game__item--pizza--2{
  background-image: url("../img/items/pizza-2.png"); }

.no-webp .Game__item--sticker--1{
  background-image: url("../img/items/sticker/1.png"); }

.no-webp .Game__item--sticker--2{
  background-image: url("../img/items/sticker/2.png"); }

.no-webp .Game__item--sticker--3{
  background-image: url("../img/items/sticker/3.png"); }

.no-webp .Game__item--sticker--4{
  background-image: url("../img/items/sticker/4.png"); }

.no-webp .Game__item--sticker--5{
  background-image: url("../img/items/sticker/5.png"); }

.no-webp .Game__item--sticker--6{
  background-image: url("../img/items/sticker/6.png"); }

.no-webp .Game__item--sticker--7{
  background-image: url("../img/items/sticker/7.png"); }

.no-webp .Game__item--sticker--8{
  background-image: url("../img/items/sticker/8.png"); }

.no-webp .Game__item--sticker--9{
  background-image: url("../img/items/sticker/9.png"); }

.no-webp .Game__item--sticker--10{
  background-image: url("../img/items/sticker/10.png"); }

.no-webp .Game__item--sticker--11{
  background-image: url("../img/items/sticker/11.png"); }

.no-webp .Game__item--sticker--12{
  background-image: url("../img/items/sticker/12.png"); }

.no-webp .Game__item--sticker--13{
  background-image: url("../img/items/sticker/13.png"); }

.no-webp .Game__item--sticker--14{
  background-image: url("../img/items/sticker/14.png"); }

.no-webp .Game__item--sticker--15{
  background-image: url("../img/items/sticker/15.png"); }

.no-webp .Game__item--sticker--16{
  background-image: url("../img/items/sticker/16.png"); }

.Game__info {
  width: 100%;
  height: 50px;
  background: rgba(121, 15, 153, 0.35);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all ease 0.3s;
  overflow: hidden;
  font-size: 18px;
}

.Game__info b {
  font-size: 1.2rem;
  margin-left: 15px;
}

.Game__info.hide {
  height: 0px;
  display: none;
}

.Game__results {
  counter-reset: results;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 15px 10px;
  overflow: hidden auto;
  transition: all ease 1s;
  transform: translateX(0);
}

.Game__results .Bttn {
  width: 100%;
  height: 50px !important;
  margin-top: 15px;
}

.Game__results.hide {
  transform: translateX(-100%);
}

.Game__results h2 {
  border-left: 5px solid #790f99;
  padding-left: 15px;
  margin-bottom: 0;
  font-weight: 400;
  display: block;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 18px;
}

.Game__results table {
  width: 100%;
  margin-top: 15px;
}

.Game__results table tr.you {
  background: #790f99;
}

.Game__results table td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 0px;
  text-align: center;
}

.Game__results table td:first-child::before {
  counter-increment: results;
  content: "#" counter(results);
}

.GameItem {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
  background: no-repeat center/contain;
  background-color: unset !important;
  font-size: 0px;
  opacity: 1;
  transition: all ease-out 1s;
}

.GameItem.small {
  width: 40px;
  height: 40px;
  position: static;
}

.GameItem.new {
  opacity: 0;
}

.GameItem.old {
  transition: all linear 1s !important;
}

.GameItem.clicked {
  transition: all linear 0.3s;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translate(-50%, -50%) rotate(-90deg) scale(0) !important;
}

.no-webp .GameItem--cocktail{
  background-image: url("../img/items/cocktail.png"); }

.no-webp .GameItem--shot{
  background-image: url("../img/items/shot.png"); }

.no-webp .GameItem--nybear--1{
  background-image: url("../img/items/nybear-1.png"); }

.no-webp .GameItem--nybear--2{
  background-image: url("../img/items/nybear-2.png"); }

.no-webp .GameItem--nybear--3{
  background-image: url("../img/items/nybear-3.png"); }

.no-webp .GameItem--balls--1{
  background-image: url("../img/items/balls-1.png"); }

.no-webp .GameItem--balls--2{
  background-image: url("../img/items/balls-2.png"); }

.no-webp .GameItem--balls--3{
  background-image: url("../img/items/balls-3.png"); }

.no-webp .GameItem--balls--4{
  background-image: url("../img/items/balls-4.png"); }

.no-webp .GameItem--tree{
  background-image: url("../img/items/tree.png"); }

.no-webp .GameItem--pizza--1{
  background-image: url("../img/items/pizza-1.png"); }

.no-webp .GameItem--pizza--2{
  background-image: url("../img/items/pizza-2.png"); }

.no-webp .GameItem--sticker--1{
  background-image: url("../img/items/sticker/1.png"); }

.no-webp .GameItem--sticker--2{
  background-image: url("../img/items/sticker/2.png"); }

.no-webp .GameItem--sticker--3{
  background-image: url("../img/items/sticker/3.png"); }

.no-webp .GameItem--sticker--4{
  background-image: url("../img/items/sticker/4.png"); }

.no-webp .GameItem--sticker--5{
  background-image: url("../img/items/sticker/5.png"); }

.no-webp .GameItem--sticker--6{
  background-image: url("../img/items/sticker/6.png"); }

.no-webp .GameItem--sticker--7{
  background-image: url("../img/items/sticker/7.png"); }

.no-webp .GameItem--sticker--8{
  background-image: url("../img/items/sticker/8.png"); }

.no-webp .GameItem--sticker--9{
  background-image: url("../img/items/sticker/9.png"); }

.no-webp .GameItem--sticker--10{
  background-image: url("../img/items/sticker/10.png"); }

.no-webp .GameItem--sticker--11{
  background-image: url("../img/items/sticker/11.png"); }

.no-webp .GameItem--sticker--12{
  background-image: url("../img/items/sticker/12.png"); }

.no-webp .GameItem--sticker--13{
  background-image: url("../img/items/sticker/13.png"); }

.no-webp .GameItem--sticker--14{
  background-image: url("../img/items/sticker/14.png"); }

.no-webp .GameItem--sticker--15{
  background-image: url("../img/items/sticker/15.png"); }

.no-webp .GameItem--sticker--16{
  background-image: url("../img/items/sticker/16.png"); }

.no-webp .Footer{
  background: url("../img/body.jpg") no-repeat center/cover; }

.Footer {
  background: rgba(17, 17, 17, 0.35);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.Footer__wrap {
  gap: 2px;
}

.Footer__copy {
  padding: 10px 10px;
  flex: 1;
}

.Footer__creator {
  padding: 10px 10px;
  flex: 1;
}

.Bttn {
  display: inline-flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#004850, rgba(0, 72, 80, 0.1));
  box-shadow: 0px 0px 5px 3px rgba(17, 17, 17, 0.15);
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 7px 15px;
  text-align: center;
  font-weight: 300;
  border-radius: 5px;
}

.startBox {
  width: 100%;
  height: auto;
  transition: all ease 0.3s;
  opacity: 1;
  position: static;
}

.startBox--hide {
  overflow: hidden;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.startBox--absolute {
  position: absolute;
}

.startBox__toggler {
  margin-top: 15px;
}

.startBox__items {
  border-left: 5px solid #790f99;
  padding-left: 15px;
  gap: 5px;
  margin: 15px 0;
}

.startBox__items > div:hover,
.startBox__items div:active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(8);
  z-index: 10;
}

.aniLogo {
  width: 50vw;
  max-width: 256px;
  aspect-ratio: 1/1;
  position: relative;
  margin: 0px auto;
}

.aniLogo::after {
  opacity: 1;
  transition: opacity ease-in 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  flex: 1;
  background: no-repeat center/contain;
  -webkit-animation: aniLogoAfter infinite 30s 0s ease-in-out;
          animation: aniLogoAfter infinite 30s 0s ease-in-out;
}

@-webkit-keyframes aniLogoAfter {
  .no-webp 0%{
    background-image: url("../img/items/tree.png"); }

  .no-webp 9%{
    background-image: url("../img/items/balls-1.png"); }

  .no-webp 17%{
    background-image: url("../img/items/nybear-3.png"); }

  .no-webp 25%{
    background-image: url("../img/items/nybear-1.png"); }

  .no-webp 34%{
    background-image: url("../img/items/balls-3.png"); }

  .no-webp 42%{
    background-image: url("../img/items/nybear-2.png"); }

  .no-webp 51%{
    background-image: url("../img/items/balls-2.png"); }

  .no-webp 59%{
    background-image: url("../img/items/pizza-1.png"); }

  .no-webp 67%{
    background-image: url("../img/items/balls-4.png"); }

  .no-webp 75%{
    background-image: url("../img/items/pizza-2.png"); }

  .no-webp 84%{
    background-image: url("../img/items/cocktail.png"); }

  .no-webp 92%{
    background-image: url("../img/items/shot.png"); }

  .no-webp 100%{
    background-image: url("../img/items/shot.png"); }
}

@keyframes aniLogoAfter {
  .no-webp 0%{
    background-image: url("../img/items/tree.png"); }

  .no-webp 9%{
    background-image: url("../img/items/balls-1.png"); }

  .no-webp 17%{
    background-image: url("../img/items/nybear-3.png"); }

  .no-webp 25%{
    background-image: url("../img/items/nybear-1.png"); }

  .no-webp 34%{
    background-image: url("../img/items/balls-3.png"); }

  .no-webp 42%{
    background-image: url("../img/items/nybear-2.png"); }

  .no-webp 51%{
    background-image: url("../img/items/balls-2.png"); }

  .no-webp 59%{
    background-image: url("../img/items/pizza-1.png"); }

  .no-webp 67%{
    background-image: url("../img/items/balls-4.png"); }

  .no-webp 75%{
    background-image: url("../img/items/pizza-2.png"); }

  .no-webp 84%{
    background-image: url("../img/items/cocktail.png"); }

  .no-webp 92%{
    background-image: url("../img/items/shot.png"); }

  .no-webp 100%{
    background-image: url("../img/items/shot.png"); }
}

.Stats {
  top: 0;
  right: 0;
  background: rgba(17, 17, 17, 0.75);
  padding: 45px;
  color: #fff;
  text-align: right;
  counter-reset: Stats;
  border-collapse: collapse;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100vw;
  opacity: 0.65;
  width: 100%;
}

.Stats tr th {
  background: #004850;
  color: #fff;
  font-weight: 300;
  padding: 5px;
}

.Stats tr td {
  padding: 3px 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.Stats tr td:first-child:after {
  counter-increment: Stats;
  content: counter(Stats);
}

@media (min-width: 768px) {
  .no-webp .Game.onlyMobile{
    background-image: url("../img/onlyMobile.png"); }

  .Game.onlyMobile > * {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    flex: 0 !important;
  }

  .Game.onlyMobile .Game__onlyMobile {
    flex: 1 !important;
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
  }

  body {
    flex-direction: row !important;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .Head {
    width: 100px;
    height: 100%;
    padding: 10px;
  }

  .Head__wrap {
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .Head__logotype {
    margin-bottom: 0;
    margin-top: auto;
    order: 3;
    width: 90px;
  }

  .Head__socs {
    order: 2;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    flex-direction: column;
  }

  .Head__phone {
    order: 1;
    transform: rotate(180deg);
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
  }

  .Logotype__icon {
    width: 100%;
    order: 2;
    transform: rotate(-90deg);
  }

  .Logotype.Preloader__logotype .Logotype__icon {
    width: 50%;
    order: 1;
    transform: rotate(0deg);
  }

  .Logotype__text {
    width: 100%;
    order: 1;
    transform: rotate(-90deg);
  }

  .Logotype.Preloader__logotype .Logotype__text {
    width: 50%;
    order: 2;
    transform: rotate(0deg);
  }

  .Footer {
    width: 50px;
    height: 100%;
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
  }

  .Game {
    flex: 1;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-height: 600px) {
  body > * {
    opacity: 0 !important;
  }

  .no-webp body::after{
    background: url("../img/rotateDevice.png") no-repeat center center/128px auto; }

  body::after {
    content: "";
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
  }
}

@media (min-width: 768px) and (max-height: 650px) {
  .Head__phone {
    display: none;
  }
}

@media (max-width: 650px) {
  .Head__logotype {
    width: 150px;
  }

  .Head__phone a span {
    display: none;
  }

  .HeadSocs__icon {
    width: 30px;
  }
}

@media (max-width: 650px) and (max-width: 400px) {
  .Head__logotype {
    width: 120px;
  }
}

@media (max-width: 650px) and (max-width: 450px) {
  .Head__phone a {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .Head__socs {
    margin-right: 15px;
  }
}

@media (max-width: 325px) {
  .Game__start {
    line-height: 1.3;
    font-size: 14px;
  }

  .Game__item.small {
    width: 30px;
    height: 30px;
  }

  .GameItem.small {
    width: 30px;
    height: 30px;
  }

  .aniLogo {
    width: 30vw;
  }
}

.webp html{ background: #004850 url(../img/body.webp) no-repeat center center/cover; }

.webp .Game__item--cocktail{ background-image: url(../img/items/cocktail.webp); }

.webp .Game__item--shot{ background-image: url(../img/items/shot.webp); }

.webp .Game__item--nybear--1{ background-image: url(../img/items/nybear-1.webp); }

.webp .Game__item--nybear--2{ background-image: url(../img/items/nybear-2.webp); }

.webp .Game__item--nybear--3{ background-image: url(../img/items/nybear-3.webp); }

.webp .Game__item--balls--1{ background-image: url(../img/items/balls-1.webp); }

.webp .Game__item--balls--2{ background-image: url(../img/items/balls-2.webp); }

.webp .Game__item--balls--3{ background-image: url(../img/items/balls-3.webp); }

.webp .Game__item--balls--4{ background-image: url(../img/items/balls-4.webp); }

.webp .Game__item--tree{ background-image: url(../img/items/tree.webp); }

.webp .Game__item--pizza--1{ background-image: url(../img/items/pizza-1.webp); }

.webp .Game__item--pizza--2{ background-image: url(../img/items/pizza-2.webp); }

.webp .Game__item--sticker--1{ background-image: url(../img/items/sticker/1.webp); }

.webp .Game__item--sticker--2{ background-image: url(../img/items/sticker/2.webp); }

.webp .Game__item--sticker--3{ background-image: url(../img/items/sticker/3.webp); }

.webp .Game__item--sticker--4{ background-image: url(../img/items/sticker/4.webp); }

.webp .Game__item--sticker--5{ background-image: url(../img/items/sticker/5.webp); }

.webp .Game__item--sticker--6{ background-image: url(../img/items/sticker/6.webp); }

.webp .Game__item--sticker--7{ background-image: url(../img/items/sticker/7.webp); }

.webp .Game__item--sticker--8{ background-image: url(../img/items/sticker/8.webp); }

.webp .Game__item--sticker--9{ background-image: url(../img/items/sticker/9.webp); }

.webp .Game__item--sticker--10{ background-image: url(../img/items/sticker/10.webp); }

.webp .Game__item--sticker--11{ background-image: url(../img/items/sticker/11.webp); }

.webp .Game__item--sticker--12{ background-image: url(../img/items/sticker/12.webp); }

.webp .Game__item--sticker--13{ background-image: url(../img/items/sticker/13.webp); }

.webp .Game__item--sticker--14{ background-image: url(../img/items/sticker/14.webp); }

.webp .Game__item--sticker--15{ background-image: url(../img/items/sticker/15.webp); }

.webp .Game__item--sticker--16{ background-image: url(../img/items/sticker/16.webp); }

.webp .GameItem--cocktail{ background-image: url(../img/items/cocktail.webp); }

.webp .GameItem--shot{ background-image: url(../img/items/shot.webp); }

.webp .GameItem--nybear--1{ background-image: url(../img/items/nybear-1.webp); }

.webp .GameItem--nybear--2{ background-image: url(../img/items/nybear-2.webp); }

.webp .GameItem--nybear--3{ background-image: url(../img/items/nybear-3.webp); }

.webp .GameItem--balls--1{ background-image: url(../img/items/balls-1.webp); }

.webp .GameItem--balls--2{ background-image: url(../img/items/balls-2.webp); }

.webp .GameItem--balls--3{ background-image: url(../img/items/balls-3.webp); }

.webp .GameItem--balls--4{ background-image: url(../img/items/balls-4.webp); }

.webp .GameItem--tree{ background-image: url(../img/items/tree.webp); }

.webp .GameItem--pizza--1{ background-image: url(../img/items/pizza-1.webp); }

.webp .GameItem--pizza--2{ background-image: url(../img/items/pizza-2.webp); }

.webp .GameItem--sticker--1{ background-image: url(../img/items/sticker/1.webp); }

.webp .GameItem--sticker--2{ background-image: url(../img/items/sticker/2.webp); }

.webp .GameItem--sticker--3{ background-image: url(../img/items/sticker/3.webp); }

.webp .GameItem--sticker--4{ background-image: url(../img/items/sticker/4.webp); }

.webp .GameItem--sticker--5{ background-image: url(../img/items/sticker/5.webp); }

.webp .GameItem--sticker--6{ background-image: url(../img/items/sticker/6.webp); }

.webp .GameItem--sticker--7{ background-image: url(../img/items/sticker/7.webp); }

.webp .GameItem--sticker--8{ background-image: url(../img/items/sticker/8.webp); }

.webp .GameItem--sticker--9{ background-image: url(../img/items/sticker/9.webp); }

.webp .GameItem--sticker--10{ background-image: url(../img/items/sticker/10.webp); }

.webp .GameItem--sticker--11{ background-image: url(../img/items/sticker/11.webp); }

.webp .GameItem--sticker--12{ background-image: url(../img/items/sticker/12.webp); }

.webp .GameItem--sticker--13{ background-image: url(../img/items/sticker/13.webp); }

.webp .GameItem--sticker--14{ background-image: url(../img/items/sticker/14.webp); }

.webp .GameItem--sticker--15{ background-image: url(../img/items/sticker/15.webp); }

.webp .GameItem--sticker--16{ background-image: url(../img/items/sticker/16.webp); }

.webp .Footer{ background: url(../img/body.webp) no-repeat center/cover; }

@keyframes aniLogoAfter{

  .webp 0%{ background-image: url(../img/items/tree.webp); }
}

@keyframes aniLogoAfter{

  .webp 9%{ background-image: url(../img/items/balls-1.webp); }
}

@keyframes aniLogoAfter{

  .webp 17%{ background-image: url(../img/items/nybear-3.webp); }
}

@keyframes aniLogoAfter{

  .webp 25%{ background-image: url(../img/items/nybear-1.webp); }
}

@keyframes aniLogoAfter{

  .webp 34%{ background-image: url(../img/items/balls-3.webp); }
}

@keyframes aniLogoAfter{

  .webp 42%{ background-image: url(../img/items/nybear-2.webp); }
}

@keyframes aniLogoAfter{

  .webp 51%{ background-image: url(../img/items/balls-2.webp); }
}

@keyframes aniLogoAfter{

  .webp 59%{ background-image: url(../img/items/pizza-1.webp); }
}

@keyframes aniLogoAfter{

  .webp 67%{ background-image: url(../img/items/balls-4.webp); }
}

@keyframes aniLogoAfter{

  .webp 75%{ background-image: url(../img/items/pizza-2.webp); }
}

@keyframes aniLogoAfter{

  .webp 84%{ background-image: url(../img/items/cocktail.webp); }
}

@keyframes aniLogoAfter{

  .webp 92%{ background-image: url(../img/items/shot.webp); }
}

@keyframes aniLogoAfter{

  .webp 100%{ background-image: url(../img/items/shot.webp); }
}

@media (min-width: 768px){

  .webp .Game.onlyMobile{ background-image: url(../img/onlyMobile.webp); }
}

@media (min-width: 768px) and (max-height: 600px){

  .webp body::after{ background: url(../img/rotateDevice.webp) no-repeat center center/128px auto; }
}