@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/reseter.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=block");
/**  Стили скролбара - старт */
/* ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background: #fc8332;
	border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
	background: #fc8332;
}
::-webkit-scrollbar-track {
	background: #212121;
	border-radius: 15px;
	box-shadow: inset 8px 19px 30px #f0f0f0;
} */
/**  Стили скролбара - конец */
/**  Стили выделения - старт */
::-moz-selection {
  background: #790f99;
  opacity: 1;
  color: #fff;
}
::selection {
  background: #790f99;
  opacity: 1;
  color: #fff;
}

/**  Стили выделения - конец */
/**  Кастомный сброс стилей - начало */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

input,
select,
label,
button,
textarea {
  display: block;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: 1.1;
  padding: 10px 20px;
  color: inherit;
  outline: none;
  border: none;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
label::-webkit-input-placeholder,
button::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  color: #c4c4c4;
}

input:-ms-input-placeholder,
select:-ms-input-placeholder,
label:-ms-input-placeholder,
button:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  color: #c4c4c4;
}

input::-ms-input-placeholder,
select::-ms-input-placeholder,
label::-ms-input-placeholder,
button::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  color: #c4c4c4;
}

input::placeholder,
select::placeholder,
label::placeholder,
button::placeholder,
textarea::placeholder {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  color: #c4c4c4;
}

input:focus {
  outline: 1px solid #808080;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none;
}

/**  Кастомный сброс стилей - конец */
/**  Стили флексов - Старт */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex--fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--fdr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex--aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex--ais {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex--aie {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex--aistr {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex--jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--jcs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex--jce {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex--jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--jcse {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex--fww {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex--fwn {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/**  Стили флексов - конец */
html,
body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
}

html {
  background: #004850 url("../images/body.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

body {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrap {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* preloader */
.Preloader > * {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.Preloader__logotype {
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 1;
  visibility: visible;
}

.Preloader--loaded .Preloader__logotype {
  opacity: 0;
  width: 140px;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.Preloader--loaded > * {
  opacity: 1;
  visibility: visible;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

/* preloader */
.Head {
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  margin-bottom: 5px;
}

.Head__wrap {
  padding: 0px 15px;
}

.Head__logotype {
  width: 200px;
}

@media (max-width: 650px) {
  .Head__logotype {
    width: 150px;
  }
}

@media (max-width: 650px) and (max-width: 400px) {
  .Head__logotype {
    width: 120px;
  }
}

.Head__socs {
  margin-left: auto;
  margin-right: 25px;
}

@media (max-width: 400px) {
  .Head__socs {
    margin-right: 15px;
  }
}

.Head__phone {
  margin-right: 0px;
}

.Head__phone a {
  color: #fff;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  font-size: 30px;
  font-weight: 400;
}

.Head__phone a:hover {
  color: #004850;
}

@media (max-width: 650px) {
  .Head__phone a span {
    display: none;
  }
}

@media (max-width: 650px) and (max-width: 450px) {
  .Head__phone a {
    font-size: 20px;
  }
}

.Logotype {
  font-size: 0px;
  color: rgba(121, 15, 153, 0);
}

.Logotype span {
  display: none;
}

.Logotype__icon {
  display: block;
  width: 50%;
}

.Logotype__text {
  display: block;
  width: 50%;
}

.HeadSocs {
  gap: 10px;
}

.HeadSocs__link {
  display: block;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.HeadSocs__link:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.HeadSocs__link span {
  display: none;
}

.HeadSocs__icon {
  width: 32px;
  fill: #fff;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.HeadSocs__icon:hover {
  fill: #004850;
}

@media (max-width: 650px) {
  .HeadSocs__icon {
    width: 30px;
  }
}

.Game {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media (min-width: 768px) {
  .Game.onlyMobile {
    background-image: url("../images/onlyMobile.png");
  }
  .Game.onlyMobile > * {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 !important;
            flex: 0 !important;
  }
}

.Game__onlyMobile {
  display: none;
}

.Game.onlyMobile .Game__onlyMobile {
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 25px;
}

.Game.onlyMobile .Game__onlyMobile h2 {
  font-size: 34px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .Game.onlyMobile .Game__onlyMobile {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.Game__timer {
  width: 100%;
  height: 50px;
  background: #004850;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  overflow: hidden;
}

.Game__timer.hide {
  height: 0px;
}

.Game__bttns {
  width: 100%;
  height: 50px;
  background: rgba(121, 15, 153, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  gap: 2px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  overflow: hidden;
}

.Game__bttns.hide {
  height: 0px;
}

.Game__bttn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#004850), to(rgba(0, 72, 80, 0.1)));
  background: linear-gradient(#004850, rgba(0, 72, 80, 0.1));
  -webkit-box-shadow: 0px 0px 5px 3px rgba(17, 17, 17, 0.15);
          box-shadow: 0px 0px 5px 3px rgba(17, 17, 17, 0.15);
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 5px;
  text-align: center;
  font-weight: 300;
}

.Game__bttn.hide {
  display: none;
}

.Game__bttn--save {
  line-height: 1.3;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#790f99), to(rgba(121, 15, 153, 0.1)));
  background: linear-gradient(#790f99, rgba(121, 15, 153, 0.1));
}

.Game__start {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  padding: 0px 15px;
  line-height: 1.5;
}

@media (max-width: 325px) {
  .Game__start {
    line-height: 1.3;
    font-size: 14px;
  }
}

.Game__start h1 {
  border-left: 5px solid #790f99;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1;
  padding: 4px 0px;
  padding-left: 15px;
  margin-top: 10px;
}

.Game__start h2 {
  padding: 4px 0px;
  border-left: 5px solid #004850;
  padding-left: 15px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
}

.Game__start.hide {
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  height: 0px;
  display: none;
}

.Game__end {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  padding: 15px;
  line-height: 1.4;
}

.Game__end p {
  display: block;
  font-size: 18px;
}

.Game__end b {
  display: block;
  font-size: 2rem;
}

.Game__end span {
  text-align: left;
  display: block;
}

.Game__end.hide {
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  height: 0px;
  display: none;
}

.Game__end form {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.Game__end form input {
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #ffffff;
  outline: none;
}

.Game__field {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
}

.Game__field.hide {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  height: 0px !important;
  display: none;
}

.Game__item {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
  background: no-repeat center / contain;
  background-color: unset !important;
  font-size: 0px;
  opacity: 1;
  -webkit-transition: all ease-out 1s;
  transition: all ease-out 1s;
}

.Game__item.small {
  width: 40px;
  height: 40px;
  position: static;
}

@media (max-width: 325px) {
  .Game__item.small {
    width: 30px;
    height: 30px;
  }
}

.Game__item.new {
  opacity: 0;
}

.Game__item.clicked {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg) scale(0) !important;
          transform: translate(-50%, -50%) rotate(-90deg) scale(0) !important;
}

.Game__item--cocktail {
  background-image: url("../images/items/cocktail.webp");
}

.Game__item--shot {
  background-image: url("../images/items/shot.webp");
}

.Game__item--nybear--1 {
  background-image: url("../images/items/nybear-1.webp");
}

.Game__item--nybear--2 {
  background-image: url("../images/items/nybear-2.webp");
}

.Game__item--nybear--3 {
  background-image: url("../images/items/nybear-3.webp");
}

.Game__item--balls--1 {
  background-image: url("../images/items/balls-1.webp");
}

.Game__item--balls--2 {
  background-image: url("../images/items/balls-2.webp");
}

.Game__item--balls--3 {
  background-image: url("../images/items/balls-3.webp");
}

.Game__item--balls--4 {
  background-image: url("../images/items/balls-4.webp");
}

.Game__item--tree {
  background-image: url("../images/items/tree.webp");
}

.Game__item--pizza--1 {
  background-image: url("../images/items/pizza-1.webp");
}

.Game__item--pizza--2 {
  background-image: url("../images/items/pizza-2.webp");
}

.Game__item--sticker--1 {
  background-image: url("../images/items/sticker/1.png");
}

.Game__item--sticker--2 {
  background-image: url("../images/items/sticker/2.png");
}

.Game__item--sticker--3 {
  background-image: url("../images/items/sticker/3.png");
}

.Game__item--sticker--4 {
  background-image: url("../images/items/sticker/4.png");
}

.Game__item--sticker--5 {
  background-image: url("../images/items/sticker/5.png");
}

.Game__item--sticker--6 {
  background-image: url("../images/items/sticker/6.png");
}

.Game__item--sticker--7 {
  background-image: url("../images/items/sticker/7.png");
}

.Game__item--sticker--8 {
  background-image: url("../images/items/sticker/8.png");
}

.Game__item--sticker--9 {
  background-image: url("../images/items/sticker/9.png");
}

.Game__item--sticker--10 {
  background-image: url("../images/items/sticker/10.png");
}

.Game__item--sticker--11 {
  background-image: url("../images/items/sticker/11.png");
}

.Game__item--sticker--12 {
  background-image: url("../images/items/sticker/12.png");
}

.Game__item--sticker--13 {
  background-image: url("../images/items/sticker/13.png");
}

.Game__item--sticker--14 {
  background-image: url("../images/items/sticker/14.png");
}

.Game__item--sticker--15 {
  background-image: url("../images/items/sticker/15.png");
}

.Game__item--sticker--16 {
  background-image: url("../images/items/sticker/16.png");
}

.Game__info {
  width: 100%;
  height: 50px;
  background: rgba(121, 15, 153, 0.35);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  overflow: hidden;
  font-size: 18px;
}

.Game__info b {
  font-size: 1.2rem;
  margin-left: 15px;
}

.Game__info.hide {
  height: 0px;
  display: none;
}

.Game__results {
  counter-reset: results;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 15px 10px;
  overflow: hidden auto;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.Game__results .Bttn {
  width: 100%;
  height: 50px !important;
  margin-top: 15px;
}

.Game__results.hide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.Game__results h2 {
  border-left: 5px solid #790f99;
  padding-left: 15px;
  margin-bottom: 0;
  font-weight: 400;
  display: block;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 18px;
}

.Game__results table {
  width: 100%;
  margin-top: 15px;
}

.Game__results table tr.you {
  background: #790f99;
}

.Game__results table td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 0px;
  text-align: center;
}

.Game__results table td:first-child::before {
  counter-increment: results;
  content: "#" counter(results);
}

.Footer {
  background: url("../images/body.jpg") no-repeat center/cover;
  background: rgba(17, 17, 17, 0.35);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.Footer__wrap {
  gap: 2px;
}

.Footer__copy {
  padding: 10px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Footer__creator {
  padding: 10px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Bttn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#004850), to(rgba(0, 72, 80, 0.1)));
  background: linear-gradient(#004850, rgba(0, 72, 80, 0.1));
  -webkit-box-shadow: 0px 0px 5px 3px rgba(17, 17, 17, 0.15);
          box-shadow: 0px 0px 5px 3px rgba(17, 17, 17, 0.15);
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 7px 15px;
  text-align: center;
  font-weight: 300;
  border-radius: 5px;
}

.startBox {
  width: 100%;
  height: auto;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  opacity: 1;
  position: static;
}

.startBox--hide {
  overflow: hidden;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.startBox--absolute {
  position: absolute;
}

.startBox__toggler {
  margin-top: 15px;
}

.startBox__items {
  border-left: 5px solid #790f99;
  padding-left: 15px;
  gap: 5px;
  margin: 15px 0;
}

.startBox__items > div:hover,
.startBox__items div:active {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(8);
          transform: translate(-50%, -50%) scale(8);
  z-index: 10;
}

.aniLogo {
  width: 50vw;
  max-width: 256px;
  aspect-ratio: 1/1;
  position: relative;
  margin: 0px auto;
}

@media (max-width: 325px) {
  .aniLogo {
    width: 40vw;
  }
}

.aniLogo::after {
  opacity: 1;
  -webkit-transition: opacity ease-in 0.3s;
  transition: opacity ease-in 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: no-repeat center / contain;
  -webkit-animation: aniLogoAfter infinite 30s 0s ease-in-out;
          animation: aniLogoAfter infinite 30s 0s ease-in-out;
}

@-webkit-keyframes aniLogoAfter {
  0% {
    background-image: url("../images/items/tree.webp");
  }
  9% {
    background-image: url("../images/items/balls-1.webp");
  }
  17% {
    background-image: url("../images/items/nybear-3.webp");
  }
  25% {
    background-image: url("../images/items/nybear-1.webp");
  }
  34% {
    background-image: url("../images/items/balls-3.webp");
  }
  42% {
    background-image: url("../images/items/nybear-2.webp");
  }
  51% {
    background-image: url("../images/items/balls-2.webp");
  }
  59% {
    background-image: url("../images/items/pizza-1.webp");
  }
  67% {
    background-image: url("../images/items/balls-4.webp");
  }
  75% {
    background-image: url("../images/items/pizza-2.webp");
  }
  84% {
    background-image: url("../images/items/cocktail.webp");
  }
  92% {
    background-image: url("../images/items/shot.webp");
  }
  100% {
    background-image: url("../images/items/shot.webp");
  }
}

@keyframes aniLogoAfter {
  0% {
    background-image: url("../images/items/tree.webp");
  }
  9% {
    background-image: url("../images/items/balls-1.webp");
  }
  17% {
    background-image: url("../images/items/nybear-3.webp");
  }
  25% {
    background-image: url("../images/items/nybear-1.webp");
  }
  34% {
    background-image: url("../images/items/balls-3.webp");
  }
  42% {
    background-image: url("../images/items/nybear-2.webp");
  }
  51% {
    background-image: url("../images/items/balls-2.webp");
  }
  59% {
    background-image: url("../images/items/pizza-1.webp");
  }
  67% {
    background-image: url("../images/items/balls-4.webp");
  }
  75% {
    background-image: url("../images/items/pizza-2.webp");
  }
  84% {
    background-image: url("../images/items/cocktail.webp");
  }
  92% {
    background-image: url("../images/items/shot.webp");
  }
  100% {
    background-image: url("../images/items/shot.webp");
  }
}
/*# sourceMappingURL=style.css.map */