RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} !\/$
RewriteRule ^(.*[^\/])$ /$1/ [R=301,L] 

RewriteEngine On

RewriteRule ^result(/?)$ index.php?act=result [L,QSA]
RewriteRule ^result/load(/?)$ index.php?act=result&load=last [L,QSA]
